<script type="text/javascript">
  var er = new EnvelopeResizer();
</script>
<div id="stamp-border">
<div id="stamp">
  <h3><span>Resize</span></h3>
  <div class="float">
  <input id="width" name="width" type="number" />
  <input id="height" name="height" type="number" />
  </div>
  <div id="orientation" class="float">
  <div id="portrait" class="active-orientation"></div>
  <div id="landscape"></div>
  </div>
  <div id="submit-inputs" class="float">
    <button name="button" type="submit">OK</button>
  </div>
  <br class="clear" />
  <select id="model" name="model"><option value=""></option>
    <option value="320 480">iPhone 3G/3GS</option>
    <option value="480 720">Meizu M8</option>
    <option value="480 800">Google Nexus one</option>
    <option value="640 960">iPhone 4</option>
    <option value="768 1024">iPad</option>
    <option value="600 1024">Most Netbooks</option>
    <option value="800 1280">Samsung Galaxy Note</option>
    <option value="768 1366">Some Laptops</option>
    <option value="900 1440">MacBook Pro 15 inches</option>
  </select>
  <hr>
  <button id="new-window" type="submit">Open in new window</button>
</div>
</div>

<div id="envelope">
    <iframe src="">
      Iframe should be here
    </iframe>
    <div id="iframe-error">
        <div id="iframe-error-close">x</div>
        <h3>Something is wrong</h3>
        Maybe it's just long response time, <br />
        maybe display forbidden by X-Frame-Options
    </div>
</div>
